<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
 
     <settings>
         <setting name="jdbcTypeForNull" value="NULL" />
     </settings>


  
  	<typeAliases>
  		<typeAlias alias="UserVO" type="edu.bit.juti.vo.UserVO" />
  		<typeAlias alias="LoginVO" type="edu.bit.juti.vo.LoginVO" />
  		<typeAlias alias="ProductVO" type="edu.bit.juti.vo.ProductVO" />
  		<typeAlias alias="Product_CategoryVO" type="edu.bit.juti.vo.Product_CategoryVO" />
  		<typeAlias alias="FileVO" type="edu.bit.juti.vo.FileVO" />
  	</typeAliases>
  	
  	
  	
  	
  	<mappers>
  		<mapper resource="mybatis/MemberMapper.xml"/>
  		<mapper resource="mybatis/AdminMapper.xml"/>
  	</mappers>
  	
  	
  </configuration>