<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  
  	<typeAliases>
  		<typeAlias alias="UserVo" type="edu.bit.juti.vo.UserVO" />
  	</typeAliases>
  	
  	
  	
  	
  	<mappers>
  		<mapper resource="mybatis/MemberMapper.xml"/>
  	</mappers>
  	
  	
  </configuration>